<div class="username">
  <div class="forname">
    <h2>Username : User01</h2>
  </div>
</div>
<chat>
  <div class="chat-container">
    <h2>Chat Rooms</h2>
    <form action="/chats" method="POST">
      <label for="chatroom-select">Select a Category</label>
      <select id="chatroom-select" name="category">
        <option value="">--Select a Category--</option>
        <% categories.forEach((c) => { %>
        <option value="<%= c._id %>"><%= c.title %></option>
        <% }) %>
      </select>
      <br />
      <label for="chatroom-select">Select a Chatroom</label>
      <select id="chatroom-select" name="chatroom">
        <option value="">--Select a Chatroom--</option>
        <% chats.forEach((c) => { %>
        <option value="<%= c._id %>"><%= c.name %></option>
        <% }) %>
      </select>
      <br />
      <button type="submit">Join to Chatroom</button>
    </form>
  </div>
</chat>
