<div>Chatroom</div>

<div class="globalContainer">
    <div class="chatContainer">
        <ul class="timeLine">
            <li class="timeLine__list">
                <p id="name">Yusuke</p>
                <p id="message">TextTextTextTextTextTextTextTextTextTextTextTextText</p>
            </li>
            <li class="timeLine__list">
                <p id="name">Yasuhito</p>
                <p id="message">TextTextTextTextTextTextTextTextTextTextTextTextText</p>
            </li>
            <li class="timeLine__list">
                <p id="name">Victor</p>
                <p id="message">TextTextTextTextTextTextTextTextTextTextTextTextText</p>
            </li>
            <li class="timeLine__list">
                <p id="name">Misa</p>
                <p id="message">TextTextTextTextTextTextTextTextTextTextTextTextText</p>
            </li>
            <li class="timeLine__list">
                <p id="name">Misa</p>
                <p id="message">TextTextTextTextTextTextTextTextTextTextTextTextText</p>
            </li><li class="timeLine__list">
                <p id="name">Misa</p>
                <p id="message">TextTextTextTextTextTextTextTextTextTextTextTextText</p>
            </li><li class="timeLine__list">
                <p id="name">Misa</p>
                <p id="message">TextTextTextTextTextTextTextTextTextTextTextTextText</p>
            </li><li class="timeLine__list">
                <p id="name">Misa</p>
                <p id="message">TextTextTextTextTextTextTextTextTextTextTextTextText</p>
            </li><li class="timeLine__list">
                <p id="name">Misa</p>
                <p id="message">TextTextTextTextTextTextTextTextTextTextTextTextText</p>
            </li><li class="timeLine__list">
                <p id="name">Misa</p>
                <p id="message">TextTextTextTextTextTextTextTextTextTextTextTextText</p>
            </li><li class="timeLine__list">
                <p id="name">Misa</p>
                <p id="message">TextTextTextTextTextTextTextTextTextTextTextTextText</p>
            </li><li class="timeLine__list">
                <p id="name">Misa</p>
                <p id="message">TextTextTextTextTextTextTextTextTextTextTextTextText</p>
            </li><li class="timeLine__list">
                <p id="name">Misa</p>
                <p id="message">TextTextTextTextTextTextTextTextTextTextTextTextText</p>
            </li><li class="timeLine__list">
                <p id="name">Misa</p>
                <p id="message">TextTextTextTextTextTextTextTextTextTextTextTextText</p>
            </li><li class="timeLine__list">
                <p id="name">Misa</p>
                <p id="message">TextTextTextTextTextTextTextTextTextTextTextTextText</p>
            </li><li class="timeLine__list">
                <p id="name">Misa</p>
                <p id="message">TextTextTextTextTextTextTextTextTextTextTextTextText</p>
            </li><li class="timeLine__list">
                <p id="name">Misa</p>
                <p id="message">TextTextTextTextTextTextTextTextTextTextTextTextText</p>
            </li><li class="timeLine__list">
                <p id="name">Misa</p>
                <p id="message">TextTextTextTextTextTextTextTextTextTextTextTextText</p>
            </li><li class="timeLine__list">
                <p id="name">Misa</p>
                <p id="message">TextTextTextTextTextTextTextTextTextTextTextTextText</p>
            </li><li class="timeLine__list">
                <p id="name">Misa</p>
                <p id="message">TextTextTextTextTextTextTextTextTextTextTextTextText</p>
            </li><li class="timeLine__list">
                <p id="name">Misa</p>
                <p id="message">TextTextTextTextTextTextTextTextTextTextTextTextText</p>
            </li><li class="timeLine__list">
                <p id="name">Misa</p>
                <p id="message">TextTextTextTextTextTextTextTextTextTextTextTextText</p>
            </li>
        </ul>
    </div>
    <div class="messageContainer">
        <form action="/chats/:id" method="post">
            <input class="messageContainer__input" type="text">
            <button class="messageContainer__submit" type="submit">Send</button>
        </form>
    </div>
</div>