<div>Chatroom</div>

<div class="globalContainer">
  <div class="chatContainer">
    <ul class="timeLine">
      <% chat.contents.forEach(content => { %>
      <li class="timeLine__list">
        <p id="name"><%= content.sender.name %></p>
        <p id="message"><%= content.content %></p>
      </li>
      <% }) %>
    </ul>
    <p class="activity"></p>
  </div>
  <div class="messageContainer">
    <p class="userName"><%= userName %></p>
    <form action="/chats/<%= chat._id%>" method="POST">
      <input
        class="messageContainer__input"
        type="text"
        name="content"
        placeholder="message..."
        required
        autofocus
      />
      <button class="messageContainer__submit" type="submit">Send</button>
    </form>
  </div>
</div>
