<header class="header">
  <div class="container">
    <h1 class="logo"><a href="/">Pad-thai</a></h1>
    <nav class="nav">
      <a href="/login">Login</a>
      <a href="/logout">Logout</a>
      <a href="/register">Register</a>
      <a href="/chats">Leave</a>
    </nav>
  </div>
</header>
