<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/index.css" />
    <link rel="stylesheet" />
    <title>Pad-thai</title>
  </head>
  <body>
    <%- include('../partials/header', { title: typeof title !== 'undefined' ?
    title : 'default' }) %>

    <main><%- body %></main>
  </body>
  <script src="/socket.io/socket.io.js"></script>
  <script>
    const socket = io();

    const userName = document.querySelector(".userName").innerHTML;

    socket.on("message", (userName, message) => {
      const li = document.createElement("li");
      const pName = document.createElement("p");
      const pMsg = document.createElement("p");

      pName.id = "name";
      pMsg.id = "message";

      pName.innerHTML = userName;
      pMsg.innerHTML = message;
      console.log("userName::", userName);
      console.log("pMsg", pMsg);

      li.appendChild(pName);
      li.appendChild(pMsg);

      document.querySelector("ul").appendChild(li);
    });

    const input = document.querySelector(".messageContainer__input");

    document.querySelector("button").onclick = () => {
      if (input.value) {
        socket.emit("message", userName, input.value);
        // input.value = "";
      }
    };

    input.addEventListener("input", () => {
      socket.emit("typing", userName);
    });

    // display a message to all others when a user is typing
    socket.on("typing", (userName) => {
      const activity = document.querySelector(".activity");
      activity.textContent = `${userName} is typing...`;
      // want to pass a user name instead of userId

      setTimeout(() => {
        activity.textContent = "";
      }, 3000);
    });
  </script>
</html>
